body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px; /*encosta o elemento à esquerda pegando 100% da tela*/
  background: #F1F3F4;
}

a {
  text-decoration: none;
}

a:hover {
  color: #808080;
}

ul {
  margin: 0px; /*encosta o elemento no teto pegando 100% da tela*/
}

li {
  list-style: none;
}

h1 {
  font-size: 18px;
  text-transform: uppercase;
  color: #f68b29;
}

.header {
  height: 65px;
  background: #F68B29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding-right: 10px;
}

.logo-jetro {
  margin: 20px;
  width: 210px;
  height: 34px;
}

.nav-menu {
  margin-left: 100px;
  width: 900px;
  text-align: right;
}

.nav-menu ul {
  font-size: 16px;
  justify-content: space-between;
  flex-direction: row wrap;
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-menu a {
  color: white;
}

.user {
  width: 35px;
  height: 35px;
}

.container {
  margin: 5px 98px;
  padding: 15px auto;
  width: 1170px;
  height: 572px;
  box-shadow: 7px 7px 7px #C6C6C6;
  background: white;
}

.separator {
  margin-top: 0px;
}

.separator:after {
  content: "";
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 2px;
  background: #a39f9f;
}

.btn {
  color: white;
  border: none;
  width: 110px;
  height: 26px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.incluir {
  background: #2B618E;
}

.salvar {
  background: #5FB861;
}

.cancelar {
  background: #F68B29;
}

.excluir {
  background: #D75152;
}

.mais-acoes {
  background: #808080;
}

.list {
  text-transform: uppercase;
  margin: 2px;
  text-align: center;
  font-weight: bold;
  width: 102px;
  height: 26px;
  background: #F0F0F0;
}

.content {
  padding: 10px;
}